.auth {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

   &-block {
      width: 35rem;
      margin: auto;
   }

   &-footer {
      margin-top: 3rem;
   }

   &-footer_item {
      display: flex;
      margin-bottom: 0.5rem;

      p {
         margin-right: 0.5rem;
      }
   }
}