.filed_group {
   &:not(:last-child) {
      margin-bottom: 2rem;
   }
}

.field {
   display: block;
   width: 100%;
   max-width: 30rem;
   padding: 0.5rem 1rem;
   background-color: transparent !important;
   border-bottom: 1px solid $blue;
   color: white;
   font-size: 1.8rem;

   &-error {
      border-bottom: 1px solid $red;
   }
}

.warning_alert {
   color: $red;
}