.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex: 0 0 auto;
   padding: 2rem;
   margin-bottom: 2rem;
   background-color: $secondary;
}

.logo {
   font-size: 3.2rem;
}

.menu {
   display: flex;

   &-item {
      &:not(:last-child) {
         margin-right: 2rem;
      }
   }

   &-link {
      .active {
         color: $postGrayText;
      }
   }
}

.auth_block {
   display: flex;
   
   &-item {
      &:not(:last-child) {
         margin-right: 2rem;
      }
   }
}
