@import '../vars';
@import '../mixins';

.main {
   display: flex;
   align-items: center;
   justify-content: space-between;

   &-title {
      font-size: 3.8rem;
   }
   
   &-description {
      margin: 2rem 0;
   }

   &-content {
      width: 50%;

      @include breakpoint($mobile) {
         width: 100%;
      }
   }

   &-image {
      img {
         width: 100%;
      }
   }

   &-info {
      margin: 1rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   @include breakpoint($mobile) {
      flex-direction: column-reverse;
   }
}
