@import '../vars';
@import '../mixins';

.launches {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;

   @include breakpoint($mobile) {
      flex-wrap: wrap;
   }
}
.launch {
   width: calc(100% / 3  - 1rem);
   max-width: 28rem;
   margin: 1rem;
   padding: 2rem;
   background-color: #202020;
   border-radius: 1rem;

   &-image {
      display: block;
      height: 23rem;

      img {
         width: 100%;
         height: 100%;
         object-fit: contain;
      }
   }

   &-title {
      margin-top: 2rem;
      text-align: center;
      font-size: 2.1rem;
   }

   &-info {
      margin: 2rem 0;
   }

   &-info_item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.5rem;
      border-bottom: 1px solid $borders;

      p, li {
         margin-bottom: 0.5rem;
      }
   }

   &-links {
      display: flex;
   }

   &-link {
      display: block;
      width: 3rem;

      img {
         width: 100%;
      }

      &:not(:last-child) {
         margin-right: 1rem;
      }
   }

   &-label {
      margin-bottom: 0.5rem;
      color: $grayText;
   }

   @include breakpoint($tablet) {
      margin: 0 5px;
      padding: 1rem;
   }

   @include breakpoint($mobile) {
      margin: 5px;
      max-width: 100%;
      width: 100%;
   }
}

.launch_detail {
   &-title {
      margin-bottom: 3rem;
   }

   &-info {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include breakpoint($tablet) {
         flex-direction: column;
      }
   }

   &-content_container {
      margin: 4rem 0;
   }

   &-content {
      padding: 2rem 0;
      border-top: 1px solid $borders;
   }

   &-image {
      max-width: 28rem;

      img {
         width: 100%;
      }
   }

   &-gallery {
      display: flex;
      flex-wrap: wrap;
   }

   &-gallery_item {
      width: calc(100% / 3 - 1rem);
      height: 40rem;
      margin: 0 1rem 1rem 0;
      cursor: pointer;

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }

      @include breakpoint($mobile) {
         width: 100%;
      }
   }

   &-gallery_pop_up {
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(black, 0.5);
      backdrop-filter: blur(5px);
      position: fixed;
      top: 0;
      left: 0;

      img {
         height: 80%;
         object-fit: contain;
      }
   }

   &-footer {
      display: flex;
      justify-content: space-between;
   }

   .launch-info {
      min-width: 50rem;

      @include breakpoint($mobile) {
         min-width: auto;
         width: 100%;
      }
   }
}