@import '../vars';
@import '../mixins';

.launchPads {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.pad {
   width: calc(100% / 3 - 2rem);
   padding: 1.5rem;
   margin: 0 2rem 2rem 0;
   background-color: rgba($secondary, 0.8);
   border-bottom: 3px solid $blue;
   border-radius: 0.5rem;
   position: relative;

   &-item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.8rem;

      p {
         @include breakpoint($tablet) {
            font-size: 1.5rem;
         }
      }
   }

   &-item_title {
      font-size: 1.8rem;
      margin-bottom: 1rem;
   }

   &-item_name {
      color: $grayText;
   }

   &:after {
      content: "";
      width: 100%;
      height: 100%;
      background-image: url(../../static/images/launched_pad.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
   }

   @include breakpoint($tablet) {
      width: calc(100% / 2 - 1rem);
      margin: 5px;
   }

   @include breakpoint($mobile) {
      width: 100%;
   }
}